.dashContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  grid-template-areas:
    "header"
    "mainContent"
  ;
  background: #f7fafa;
  margin: 30px 0px;
  box-shadow: 3.9px 7.3px 7.3px hsl(0deg 0% 0% / 0.28);
}




.dashMainContent {
  grid-area: mainContent;
  padding: 25px;

}

.header {
  grid-area: header;
}

.header h1 {
  padding: 25px;
}

.header .icon {
  background-color: #10bbc4;
  color: #fff;
  padding: 10px;
  margin-right: 25px;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.header button {
  border: none;
  background: transparent;
}